version: 2
jobs:
  test:
    docker:
      - image: python:3.6-alpine
    steps:
      - checkout
      - run:
          name: Install openapi_spec_validator
          command: pip install openapi-spec-validator
      - run:
          name: Validate local docs
          command: python -m openapi_spec_validator local.yaml
  build:
    docker:
      - image: node:14-alpine
    steps:
      - checkout
      - run:
          name: Install redoc
          command: npm i -g npm && npm install redoc && npm install -g redoc-cli
      - run:
          name: Create bundle html file for local api
          command: redoc-cli bundle local.yaml -o local.html
      - save_cache:
          key: build-{{ .Revision }}
          paths:
            - local.html
  deploy:
    docker:
      - image: python:3.7-alpine
    steps:
      - checkout
      - restore_cache:
          key: build-{{ .Revision }}
      - run:
          name: Install awscli
          command: python3 -m pip install awscli
      - run:
          name: Deploy to AWS
          command: |
            aws s3 cp --acl "public-read" local.html s3://bond-api-docs/$(echo $CIRCLE_BRANCH | sed -e "s/\//-/g")-local.html
  deploy_master:
    docker:
      - image: python:3.7-alpine
    steps:
      - checkout
      - restore_cache:
          key: build-{{ .Revision }}
      - run:
          name: Install awscli
          command: python3 -m pip install awscli
      - run:
          name: Deploy to AWS (master)
          command: |
            aws s3 cp --acl "public-read" local.html s3://docs-local.appbond.com/index.html
workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - test
      - build:
          requires:
            - test
      - deploy:
          requires:
            - build 
      - deploy_master:
          requires:
            - build 
          filters:
            branches:
              only:
                - master
